body {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0;
	padding-bottom: 50px;
}

.container {
	overflow: auto;
}

#mySakuhinImg div {
	opacity: 1;
	height: 100%;
}

#mySakuhinImg {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
}

#myBack {
	pointer-events: auto;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px 2px;
	border: 1px solid #222;
	writing-mode: vertical-rl;
}

#myBack:hover {
	background: #ccc;
}